<p id="notice"><%= notice %></p>

<p>
  <b>G:</b>
  <%= @group.g_id %>
</p>

<p>
  <b>G name:</b>
  <%= @group.g_name %>
</p>


<%= link_to '編集', edit_group_path(@group) %> |
<%= link_to '戻る', groups_path %>
