<h1>Editing rate</h1>

<p>
  <b>Groupid:</b>
  <%= @rate.g_id %>
</p>

<p>
  <b>Rateid:</b>
  <%= @rate.rate_id %>
</p>

<p>
  <b>Brateid:</b>
  <%= @rate.brate_id %>
</p>

<%= render 'form' %>

<%= link_to 'Back', rates_path %>
